.card{
    font-family: sans-serif;
    padding: 10px;
    min-height: 396px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.card h3{
  margin: 0.5rem 0;
  font-weight: bold;
  margin-bottom: 10px;
}
.card p{
  margin: 6px 0;       
  /* font-size: 0.9rem; */
}

.label{
  display: inline-block;
  padding: 2px 8px;
  border-radius: 4px;
  color: white;
  margin-right: 5px;
  margin-bottom: 4px;
  background-color: #800020;
}
.details-btn{
    font-size: x-small;
    background-color:#8B0000;
    color: white;
    border: none;
    padding: 4px 6px;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 2px 1px 0 black;
    align-items: flex-start;
    margin-top: auto;
    margin-bottom: 8px;
}
@media screen and (max-width: 768px) {
  .card {
    padding: 6px;            
    min-height: auto;        
  }

  .card h3 {
    font-size: 1rem;         
  }

  .label {
    font-size: 0.75rem;     
    padding: 1px 3px;
  }

  .details-btn {
    font-size: xx-small;   
    padding: 3px 5px;       
  }
}
