nav{
  font-family: 'Poppins', sans-serif;
  align-items: center;
  max-width: 100%;
  height: 5rem;
  padding: 0 7%;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
}
nav .nav-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-center .links {
  display: flex;
  list-style: none;
  margin-top: 1.5rem;
  gap: 2rem;
}
nav .nav-center .links li{
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.1rem;
  padding: 0.25rem 0.5rem;
}
nav .nav-center .links li a{
  color: #800020;
  text-decoration: none;
  padding-bottom: 2px;
}
nav .nav-center .links .a{
  border-bottom: 2px solid #8B0000;
}
nav .nav-center .links li a.active {
  border-bottom: 3px solid #800020; 
  padding-bottom: 2px;
}   
nav .logo {
  position: absolute;   
  left: 7%;  
  font-size: 1.2rem;  
}
nav .logo h2{
  font-family: 'Playfair Display', 'sans-serif';
  font-weight: 800;
  margin-top: 1.5rem;
  font-size: larger;
  color: #8B0000;
}
nav .logo h2 span{
  color: #B22222;
  font-style: italic;
}
.hamburger {
  display: none;
  font-size: 2rem;
  color: #800020;
  cursor: pointer;
  background: none;
  border: none;
}
.mobile-logo,
.close-btn {
  display: none;
}
@media (max-width: 1023px) {
  nav {
    height: auto;
    padding: 1rem 7%;
  }

  nav .nav-center {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  nav .nav-center .links {
    flex-direction: column;
    background: #fff;
    position: fixed;
    top: 0;
    left:-100%;
    height: 100vh;
    width: 250px;
    text-align: center;
    padding:  0;
    gap: 2rem;
    text-align: left;
    align-items: flex-start;
    z-index: 1000;
    transition: left 0.3s ease-in-out;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  nav .desktop-logo h2 {
    font-size: 1rem;  
    margin-top: -0.5rem;
  }
  nav .nav-center .links.active {
   left: 0;
  }
.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}
.mobile-logo h2 {
  font-size: 1.2rem; 
  margin: 0;
  line-height: 1;
  font-weight: 700;
  color: #8B0000;
  margin-bottom: 4rem;
  display: block;

}
nav .nav-center .links .mobile-logo h2 {
    font-size: 1.2rem ; 
    margin: 0 ;
    line-height: 1;
    font-weight: 700;
    color: #8B0000;
  }
nav .nav-center .links .mobile-logo h2 span {
    color: #800020;
}
.close-btn {
  display: block;
  font-size: 1.5rem;
  color: #800020;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
}
.hamburger {
    display: block;
    margin-left: auto;
}
}
